<!DOCTYPE html>
<html>
<head>
    <title> Christian James G. Tecson </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/main.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/CeeJay.png' %}" >
					<hr>
					<h4>Hi I'm Christian James </h4>
					<p>Im learning to love coding and I love playing games!</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>My internship as a Developer</h4>
					<hr>
					<p> Currently undergoing On The Job Training at Opo Networks Corps as a Developer!</p>

					<p>Computer engineering is hard and I always thought that it's just building computers, playing games, configuring operating systems
                        but I thought wrong, its much more than that. The general part of computer engineering is that it is diverse and you can choose your mastery
                        may it be on the developer side, robotics side, or both even.
                    </p>

					<p>and with that, as my intership started with me being a developer, I am doing my best and hardest to learn as this can be a great asset for my future!</p>

                    <ul class="social-links">           
                        <li> 
                            <span class="comment">Connect with me:</span> <a href="https://www.linkedin.com/in/christian-james-tecson-81b740258/">
                                <img class="social" src="{% static 'images/linkedin.png' %}">
                            </a>
                        </li>
                     </ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>Currently a fullstack developer student at Udemy bootcamp of Python and Django</p>
					<p>I am building my portfolio as I go learn with my courses.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>I know Python, HTML/CSS, Javascript! ;)</p>
					<p>Studying right now: Python, Django, PostgressSQL</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Learning syntaxes and testing them </p>

					<p>After testing different sytanxes, i'll try to solve problems one by one in order to master it!</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My future goals</h5>
				<hr>
				<p>I want to be a game developer in the future as well as being able to design a game that will love by lots of gamers out there!</p>
				<p>I also would love to take a cooking course because aside from being on the computer 24/7 for almost 15+ years of my life, cooking is what I enjoy
                    outside of my main hobby!
                </p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>